body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

nav a {
  padding-left: 10px;
}

section#details {
  display: block;
  width: 100%;
}

section#details div {
  float: left;
  background-color: red;
    width: 100%;
}