body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

nav a {
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(253, 172, 66, 0.5);
}

#details {
  display: block;
}

#details div {
  float: left;
  background-color: red;
  width: 25%;
}

figcaption {
  font-size: 15px;
}

#featured-property p {
  width: 800px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}